@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: #000;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.banner{
    color: #Fff;
    display: flex;
    height: 100vh;
}
.banner-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner-img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.banner-img img{
     border: 4px solid #22bedd;
}
.banner-title{
    font-size: 60px;
    color: transparent;
    position: relative;
    white-space: nowrap;

}
.banner-title::before{
    content: 'Programming Hero';
    left: 0;
    top: 0;
    position: absolute;
    color: #22bedd;
    animation: typing  3s linear infinite;
}

@keyframes typing {
    0% {
        content: 'P|';
    }

    4% {
        content: 'Pr|';
    }

    8% {
        content: 'Pro|';
    }

    12% {
        content: 'Prog|';
    }

    16% {
        content: 'Progr|';
    }

    20% {
        content: 'Progra|';
    }

    24% {
        content: 'Program|';
    }

    28% {
        content: 'Programm|';
    }

    32% {
        content: 'Programmi|';
    }

    36% {
        content: 'Programmin|';
    }

    40% {
        content: 'Programming|';
    }

    44% {
        content: 'Programming |';
    }

    48% {
        content: 'Programming h|';
    }

    52% {
        content: 'Programming he|';
    }

    56% {
        content: 'Programming her|';
    }

    60% {
        content: 'Programming hero|';
    }

    64%,
    83% {
        content: 'Programming hero|';
    }

    84% {
        content: 'Programming her|';
    }

    85% {
        content: 'Programming he|';
    }

    86% {
        content: 'Programming h|';
    }

    87% {
        content: 'Programming |';
    }

    88% {
        content: 'Programming|';
    }

    89% {
        content: 'Programmin|';
    }

    90% {
        content: 'Programmi|';
    }

    91% {
        content: 'Programm|';
    }

    92% {
        content: 'Program|';
    }

    93% {
        content: 'Progra|';
    }

    94% {
        content: 'Progr|';
    }

    95% {
        content: 'Prog|';
    }

    96% {
        content: 'Pro|';
    }

    97% {
        content: 'Pr|';
    }

    98% {
        content: 'P|';
    }

    99% {
        content: '|';
    }

    100% {
        content: '|';
    }
}
.banner-text{
    line-height: 2;
    margin: 20px 0;
}
.love-btn{
    font-size: 18px;
    outline: none;
    background-color: #22bedd;
    color: #fff;
    padding: 10px 30px;
    border: 4px solid #22bedd;
    transition: .3s linear;
}
.love-btn:hover{
    color: #22bedd;
    background-color: transparent;
}
.section-ttile{
    text-align: center;
}
.section-ttile h1{
    color: #22bedd;
    margin: 50px 0;
    font-size: 40px;
    border-left: 3px solid #22bedd;
    border-right: 3px solid #22bedd;
    display: inline-block;
    padding: 0 10px;
    line-height: .8;
    text-align: center;
}
.gallery{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.photo{
    height: 280px;
    width: 280px;
    position: relative;
    overflow: hidden;
}
.photo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.border{
    background-color: #fff;
    position: absolute;
    transition: .7s ease-in-out;
}
.border.top, .border.bottom{
    height: 4px;
    width: 270px;
}
.border.left, .border.right{
    height: 270px;
    width: 4px;
    
}
.border.top{
    top: 5px;
    right: 100%;
}
.border.bottom{
    bottom: 5px;
    left: 100%;
}
.border.left{
    left: 5px;
    top: 100%;
}
.border.right{
    right: 5px;
    bottom: 100%;
}
.photo:hover .border.top{
    right: 5px;
}
.photo:hover .border.bottom{
    left: 5px;
}
.photo:hover .border.left{
    top: 5px;
}
.photo:hover .border.border.right{
    bottom: 5px;
}

.photo-content{
    width: 100%;
    height: 100%;
    color: #fff ;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 35px;
    transform: translateY(400px);
    transition: .7s ease-in-out;
}
.photo:hover .photo-content{
    transform:translateY(200px);
}
.photo::before{
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: .3s linear;
}
.photo:hover::before{
    opacity: 1;
}